#type-size {
  margin-bottom: 5px;
}

#type-select {
  -webkit-appearance: unset;
  background-color: rgb(255, 215, 215);
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: 70px;
}

#size-input {
  background-color: rgb(200, 255, 200);
  border: none;
  font-size: 1.3em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  width: 56px;
}

.save {
  font-size: 1em;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  width: 146px;
}

option[selected] {
  color: #090;
  }
