body {
  width: 180px;
}

#type-size {
  display: inline-grid;
  grid-template-columns: 80px 95px;
  grid-gap: 5px;
  margin-bottom: 5px;
}

#type-select {
  -webkit-appearance: unset;
  background-color: rgb(255, 215, 215);
  border: none;
  cursor: pointer;
  padding-left: 0.5rem;
  font-size: 1rem;
}

#size-input {
  background-color: rgb(200, 255, 200);
  border: none;
  font-size: 1rem;
}

.save {
  font-size: 0.8rem;
  margin-bottom: 5px;
  width: 100%;
}

option[selected] {
  color: #090;
}
