.extension-size {
  width: 180px;
}
.attention {
  color: red;
  text-align: center;
}
.check-section {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.select {
  width: 32%;
  appearance: unset;
  text-align: center;
  font-size: 1rem;
}
.input {
  width: 32%;
  text-align: center;
  font-size: 1rem;
}
.text-section {
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  color: gray;
}
.button {
  margin-top: 8px;
  width: 100%;
}
.border {
  border-bottom: 1px solid gray;
  margin-top: 8px;
  }
.summary {
  cursor: help;
}
